:host {
    display: inline-block;
}
 
#playgroundContainer {
    display: inline-block;
    width: 800px; 
    height: 500px;
    position: relative;
}


.object {
    width: 50px;
    height: 50px;
    background-position: center;
    background-size: cover;
    position: absolute;
    transition: left 3s, top 3s;
    cursor: move;
    top: 100px;
    left: 100px; 

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: transform 0.3s;
      user-select: none;
      pointer-events: none;
    }
  }

  .object::after {
    content: attr(data-content);
    position: absolute;
    width: 100%;
    text-align: center;
    top: -10px;
    left: 0;
    transform: scale(1);
  }

  .idle {
  }
  
  .moving {
    transition: none;
  }