<div #playgroundContainer id="playgroundContainer" class="playground-container" (mousemove)="mouseMove($event)" (dragover)="handleDragOver($event)">
    <div *ngFor="let unicorn of unicorns; trackBy: trackByUnicorn" [attr.data-content]="unicorn.name" class="object idle" draggable="true" (dragstart)="handleDragStart($event)" (dragend)="handleDragEnd($event)" >
        <img [ngStyle]="{'background-color': unicorn.color}" src="../../../assets/Images/unicorn-uncolored.png" alt="">
    </div>

    
</div>