@import "../../shared/css/variables.scss";


app-modal {
    /* modals are hidden by default */
    display: none;
    opacity: 0;

    .modal {    

        /* modal container fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: grid;
        place-content: center;
        /* z-index must be higher than .modal-background */
        z-index: 1000;
       
        /* enables scrolling for tall modals */
        overflow: auto;

        #close-btn {
            padding: 0;
            margin: 0;
            margin-top: -20px;
            margin-left: calc(100% - 20px);
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            display: flex;
            height: 40px;
            line-height: 40px;
            p {
                padding: 0;
                margin: 0;
                line-height: 40px;
                transform: rotate(45deg);

            }

            &:hover {
                cursor: pointer;
            }
        }

        .modal-body {
            padding: 20px;
            background: $background-color;
            border: 2px solid #A8E7FF;
            border-radius: 15px;
            color: white;
            display: block;
            /* margin exposes part of the modal background */
        }
    }

    .modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        /* z-index must be below .modal and above everything else  */
        z-index: 900;
    }
}

body.modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}