@import "../shared/css/variables.scss";

main {
    background-color: $top-color;
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    margin: auto;
    border-radius: 25px;
    padding: 15px;
    position: relative;

    button {
        width: 254px;
        height: 62px;
        border-radius: 15px;
        color: black;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25);

        
        &:hover {
            cursor: pointer;
        }

        &:active {
            box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
        }
    }

    img {
        $size : 154px;
        max-width: $size;
        max-height: $size;
        margin-top: -$size / 2 - 15px;
        border-radius: 50%;
        border: 2px solid white;
        background-color: $top-color;
    }

    nav {

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            button{
    
                &:first-child {
                    background-color: #FF9ECE;
                }
    
                &:last-child {
                    background-color: #FFD033;
                }
            }
        }

        @media screen and (max-width: 768px) {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: 3fr repeat(2, 1fr);
            place-items: center;
    
            grid-template-areas: 
                "header"
                "btn-1"
                "btn-2";
            
            button{
    
                &:first-child {
                    grid-area: btn-1;
                    width: 100%;
                    background-color: #FF9ECE;
                }
    

                &:last-child {
                    grid-area: btn-2;
                    width: 100%;
                    background-color: #FFD033;
                }
            }

            img {
                margin-top: 0;
                grid-area: header;
            }
        }
    }

}



#btn-playground {
    margin-top: 10px;
    @media screen and (max-width: 768px) {
        width: 100%;
        display: none;
    }
}

footer {
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 10px;


    a {
        color: white;
    }
}